@import './../../assets/scss/var.scss';
@import './../../assets/scss/main/mixin.scss';

.main-slider {
  height: 100vh;
  .slick {
    &-prev,
    &-next {
      z-index: 10;
      opacity: 0;
      top: 50%;
      @include mixin-transition(.2s);
      &:before {
        opacity: 1;
        content: '\f124';
        font-family: $icon_font--fontawesom;
        color: $slick_arrow_color;
        @include mixin-transition(.2s);
      }
      &:hover {
        &:before {
          color: $slick_arrow_color--active;
          @include mixin-transition(.2s);
        }
      }
    }
    &-prev {
      transform: rotate(-115deg);
    }
    &-next {
      transform: rotate(25deg);
    }

    &-slide {
      position: relative;
      div.image {
        width: 100%;
        height: 100vh;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: $overlay_slide_gradient;
        opacity: .35;
      }
    }
  }
  &:hover {
    .slick-next,
    .slick-prev {
      display: block;
      opacity: 1;
      @include mixin-transition(.2s);
    }
    .slick {
      &-prev {
        left: 35px;
        transform: rotate(-135deg);
      }
      &-next {
        right: 35px;
        transform: rotate(45deg);
      }
    }
  }
}