@import './variables_palette.scss';

//Font variables
$main_font: var(--font-family-sans-serif);
$icon_font--google: 'Material-Design-Iconic-Font';
$icon_font--fontawesom: 'FontAwesome';

//Loader
$loader_background: $Element_color3;

//Reset css
$global_link_text_color: $Text_color1;
$global_link_text_color--active: $Text_color2;

$selection_text_background: $Element_color2;
$selection_text_color: $Text_color2;

$body_background: $Element_color2;
$body_color: $Text_color1;

//Main Header 
$header_divider_background_color: $Element_color6;

$header_top_link_active_color: $Text_color2;

$header_bottom_link_active_background: transparent;
$header_bottom_link_active_color: $Text_color2;

$header_background_gradient: linear-gradient(to bottom, $Element_color1, transparent);

//Main Footer
$main_background_footer: $Element_color1;

//Slick slider (Main styles .custom-slick)
$slick_arrow_color: $Text_color1;
$slick_arrow_color--active: $Text_color2;

$overlay_slide_gradient: linear-gradient(to bottom, $Element_color1, $Element_color3);

//Popular movies
$slide_item_overlay_background: linear-gradient(to top, $Element_color1, $Element_color5);
$slide_item_image_background--active: linear-gradient(to top, $Element_color1, $Element_color3);
$slide_item_image_background: linear-gradient(to bottom, $Element_color1, $Element_color3);
$slide_item_icon_color: $Text_color2;
$slide_item_label_background: $Element_color3;
$slide_item_label_dark_background: $Element_color2;
$slide_item_label_light_background: $Element_color4;
$slide_item_label_light_color: $Text_color3;