//Root variabels rewrite
:root{
  --dark: #070f1a;
  --gray-dark: #182128;
  --orange: #f36523;
  --ligth-gray: #333;
}

$Element_color1: var(--dark);
$Element_color2: var(--gray-dark);
$Element_color3: var(--orange);
$Element_color4: var(--white);
$Element_color5: rgba(0, 0, 0, .3);
$Element_color6: var(--ligth-gray);

$Text_color1: var(--white);
$Text_color2: var(--orange);
$Text_color3: var(--dark);