@import './../../assets/scss/var.scss';

.footer {
  background-color: $main_background_footer;
  padding: 2rem 0;
  a {
    margin-right: 1em;
    &:last-child {
      margin-right: 0;
    }
  }
  span {
    > a {
      color: $global_link_text_color--active;
      border-bottom: 1px solid transparent;
      &:hover {
        border-bottom: 1px solid $global_link_text_color--active;
      }
    }
  }
}