@import "./../var.scss";
@import "./mixin.scss";

/*----------------------- Reset ------------------------*/

*::selection {
  color: $selection_text_color;
  background: $selection_text_background!important;
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;  
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: $main_font;
  font-size: 14px;
  box-sizing: border-box;
  background-color: $body_background;
  color: $body_color;
}

ol,
ul {
  list-style: none;
}

blockquote,q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
  outline: none;
}

input,
button,
optgroup,
select,
textarea {
  outline: 0!important;
  &:focus,
  &:active,
  &:hover,
  &:visited {
    outline: 0!important;
  }
}

/* General Links */
a {
  font-size: 14px;
  color: $global_link_text_color;
  @include mixin-transition(.2s);
  @include mixin-border-radius(3px);
  &:hover,
  &:focus {
      outline: none;
      color: $global_link_text_color--active;
      text-decoration: none;
      @include mixin-transition(.2s);
  }
}

h1, 
h2, 
h3 {
  margin-top: 20px;
  line-height: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-weight: 500;
  margin-bottom: 10px;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}

hr {
  border: 0;
  border-top: 1px solid $body_color;
}

p{
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 10px;
}

input,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}