@import './../../assets/scss/var.scss';
@import './../../assets/scss/main/mixin.scss';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding-bottom: 3rem;
  background-image: $header_background_gradient;
  @media (min-width: 768px) {
    .navbar {
      padding: 0;
      box-shadow: none;
      &-nav {
        justify-content: center !important;
      }
    }
  }
  &__top {
    @media (min-width: 768px) {
      .navbar,
      .navbar.navbar-dark {
        padding: 5px 0;
        .nav-item {
          position: relative;
          white-space: nowrap;
          > i.zmdi {
            position: absolute;
            left: -18px;
          }
          .nav-link {
            > i.zmdi {
              margin-right: 5px;
            }
            > span {
              color: $header_top_link_active_color;
            }
          }
        }
      }
      .navbar-user {
        .nav-item {
          &:after {
            position: absolute;
            right: 0;
            content: '';
            display: block;
            height: 100%;
            width: 1px;
            background-color: $header_divider_background_color;
            top: 0;
            bottom: 0;
          }
          &:last-child {
            .nav-link {
              color: $header_top_link_active_color;
              &:hover,
              &:focus {
                color: $header_top_link_active_color;
              }
            }
            &:after {
              display: none;
            }
          }
        }
      }
    }
  }
  &__bottom {
    margin-top: 1rem;
    @media (min-width: 768px) {
      .navbar,
      .navbar.navbar-dark {
        .nav-item {
          .nav-link {
            font-size: 18px;
            font-weight: 500;
            margin-right: 1rem;
            &:last-child {
              margin-right: 0;
            }
            &:hover {
              color: $header_bottom_link_active_color;
            }
          }
          &.active {
            > .nav-link {
              background-color: $header_bottom_link_active_background;
              color: $header_bottom_link_active_color;
              &:hover {
                color: $header_bottom_link_active_color;
              }
            }
          }
        }
      }
    }
  }
  hr {
    margin: 0;
    border-top: 1px solid $header_divider_background_color;
  }
}