
@import './../../assets/scss/var.scss';
@import './../../assets/scss/main/mixin.scss';

$slideWidth: 300px;
$slideHeight: 150px;
$slideMargin: 10px;
$slidesToShow: 3;
$slidesBorderRadius: 20px;
$slideScale: 1.15;

$slideLabelPadding: 0.4rem 0.8rem;
$slideLabelBorderRadius: 1rem;

$linesToShow: 3;

//Label mixin
@mixin slider-label-left() {  
  padding: $slideLabelPadding;
  border-top-right-radius: $slideLabelBorderRadius;
  border-bottom-right-radius: $slideLabelBorderRadius;
}

@mixin slider-label-right() {  
  padding: $slideLabelPadding;
  border-top-left-radius: $slideLabelBorderRadius;
  border-bottom-left-radius: $slideLabelBorderRadius;
}

.popular-tvs {
  overflow: hidden;
  h2 {     
    line-height: 30px;
    position: relative;
    margin-bottom: 20px;
    padding-left: 1rem;
    @include mixin-transition(.7s);
    &:before {
      content: '';
      position: absolute;
      display: block;
      height: 100%;
      width: 3px;
      left: 0;
      bottom: 0;
      top: 0;
      background-color: $Element_color3;
    }
    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      left: 0;
      right: 0;
      bottom: -10px;
      background-color: $header_divider_background_color;
      display: block;
    }
    small {
      display: block;
      font-size: 60%;
    }
  }
  .popular-slider {
    padding: 4rem 0;
    margin: 0 auto;
    max-width: calc((#{$slideWidth} + #{$slideMargin}) * #{$slidesToShow});
    overflow: visible;
    @include mixin-transition(.7s);
    .slick {
      &-prev, 
      &-next {
        top: -65px;
        @include mixin-transition(.2s);
        &:before {
          opacity: 1;
          content: '\f124';
          font-family: $icon_font--fontawesom;
          color: $slick_arrow_color;
          @include mixin-transition(.2s);
        }
        &:hover {
          &:before {
            color: $slick_arrow_color--active;
            @include mixin-transition(.2s);
          }
        }
      }
      &-prev {
        transform: rotate(-135deg);
        left: calc(100% + 25px);
      }
      &-next {
        transform: rotate(45deg);
        right: -70px;
      }
    }
    .slick-slide {
      position: relative;
      z-index: 6;
      transform: scale(1, 1);
      @include mixin-transition(.3s);
      > div {
        width: $slideWidth;
        min-height: $slideHeight;
        margin: 0 auto;
        .slide-item {
          position: relative;
          .image {
            min-width: $slideWidth;
            min-height: $slideHeight - $slideMargin;
            overflow: hidden;
            @include mixin-border-radius($slidesBorderRadius + 1px);
          }
          > .details {
            height: $slideHeight - $slideMargin;          
            width: auto;
            margin: 0 1rem;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 3;
            > span {
              position: absolute;
            }
            .vote {
              top: 1.1rem;
              right: 0;
              font-weight: 500;
              > i.zmdi {
                color: $slide_item_icon_color;
              }
            }
            .duration {
              top: 1rem;
              left: -1rem;
              background-color: $slide_item_label_dark_background;
              @include slider-label-left;
              @include mixin-transition(.2s);
            }          
            .details {
              bottom: 1rem;
              left: -1rem;
              background-color: $slide_item_label_dark_background;
              @include slider-label-left;
              @include mixin-transition(.2s);
            }
            .views {
              bottom: 1rem;
              right: -1rem;
              background-color: $slide_item_label_dark_background;
              @include slider-label-right;
              @include mixin-transition(.3s);
            }
            > div {
              position: absolute;
              left: 0;
              right: 0;
              bottom: 3rem;
              .title {
                font-weight: 600;
                font-size: 18px;
              }
              .description {
                line-height: 14px;
                max-height: 42px;
                display: -webkit-box;
                -webkit-line-clamp: $linesToShow;
                -webkit-box-orient: vertical;  
                overflow: hidden;
              }
            }
          }
          &:after {
            content: '';
            display: block;
            position: absolute;
            z-index: 2;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-image: $slide_item_overlay_background;
            opacity: .8;
            min-width: $slideWidth;
            min-height: $slideHeight - $slideMargin;
            @include mixin-border-radius($slidesBorderRadius);
            @include mixin-transition(.3s);
          }
        }
      }
      &.slick-center {
        z-index: 20;
        transform: scale($slideScale, $slideScale);
        + .slick-slide {
          z-index: 10;
        }
        .slide-item {
          > .details {
            .duration,
            .details {          
              background-color: $slide_item_label_background;
              @include mixin-transition(.3s);
            }
            .views {
              color: $slide_item_label_light_color;
              background-color:  $slide_item_label_light_background;
            }
          }
          .image {
            &:after {
              background-image: $slide_item_image_background--active;
            }
          }
          &:after {
            opacity: .6;
            @include mixin-transition(.3s);
          }
        }
      }
    }
  }
}